<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5C95FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1869fd;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <div class="site-header__start">
            <img src="{{url_for('static', filename='logo.png')}}" align="middle" style="width:100px;height:100px; padding: 20px;" />
          </div>
          <div class="site-header__end">
            <nav class="nav">
              <button class="nav__toggle" aria-expanded="false" type="button">
                menu
              </button>
              <ul class="nav__wrapper">
                <li class="nav__item"><a href="{{ url_for('home')}}">Home</a></li>
                <li class="nav__item"><a href="{{ url_for('about')}}">About</a></li>
                <li class="nav__item"><a href="{{ url_for('workplace')}}">Workplace</a></li>
                <li class="nav__item"><a href="{{ url_for('contact')}}">Contact</a></li>
              </ul>
            </nav>
            
          </div>
        </div>
      </header>
  <br><br><br>
  <div style="    padding-left: 45%;">
    <h3 >Contact Form</h3></div>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
        <option value="australia">Pakistan</option>
        <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit"  value="Submit">
  </form>
</div>
<br><br><br>
    <!-- Footer -->
    <footer
      class="w3-row-padding w3-padding-32"
      style="background-color: #F4F5F8;"
    >
      <div class="w3-third">
        <h4>Shaheen OCR</h4>
        <p >A web based application which detects and extracts text from image, Further integrated with previous fyp "Wise Translator"  to make image to translation a seamless experience.</p>
        
      </div>

      <div class="w3-third w3-leftbar w3-rightbar w3-border-white">
        <h4>Architecture Diagram </h4>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <div > <img src="{{url_for('static', filename='Diagram.png')}}"  style="width:300px;height:100px; padding: 15px;" /></div>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif ">
        <h4>Tools Used</h4>
        <p>
          <span class="w3-tag w3-blue w3-margin-bottom">Python</span>
          <span class="w3-tag w3-dark-blue w3-small w3-margin-bottom"
            >Flask</span
          >
          <span class="w3-tag w3-dark-blue w3-small w3-margin-bottom"
            >PyTorch</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Numpy</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Pandas</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Ngrok</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >HTML</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">CSS</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >VS Code</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Colab</span
          >
        </p>
      </div>
    </footer>
</body>
</html>
