<!DOCTYPE html>
<html>
  <head>
    <title>SOCR</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Karma"
    /> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Karma", sans-serif;
      }
      .w3-bar-block .w3-bar-item {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Sidebar (hidden by default) -->
    <nav
      class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
      style="display: none; z-index: 2; width: 40%; min-width: 300px"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item whover"
        >Close</a
      >
      <a href="#project" onclick="w3_close()" class="w3-bar-item whover"
        >Projects</a
      >
      <a href="#about" onclick="w3_close()" class="w3-bar-item whover"
        >About Us</a
      >
    </nav>

    <!-- Top menu -->
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <img src="./model/logo.jpg"  alt="logo" >
        </div>
        <div class="site-header__end">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="{{ url_for('home')}}">Home</a></li>
              <li class="nav__item"><a href="{{ url_for('about')}}">About</a></li>
              <li class="nav__item"><a href="{{ url_for('workplace')}}">Workplace</a></li>
              <li class="nav__item"><a href="{{ url_for('contact')}}">Contact</a></li>
            </ul>
          </nav>
          
        </div>
      </div>
    </header>

    <hr id="project" />

    <!-- !PAGE CONTENT [w3-main w3-content w3-padding]! -->
    <div class="container">
      <template id="card-template">
        <!-- First Photo Grid-->
        <!-- <div class="w3-row-padding w3-padding-16 w3-center" id="food"> -->
        <div class="w3-quarter skeleton-card">
          <div class="skeleton-image skeleton" alt=""></div>
          <h3 class="skeleton skeleton-heading"></h3>
          <p class="skeleton skeleton-text"></p>
          <p class="skeleton skeleton-text"></p>
          <p class="skeleton skeleton-text-half"></p>
        </div>
      </template>
      <script>
        const container = document.querySelector(".container");
        const cardTemplate = document.getElementById("card-template");
        for (let i = 0; i < 4; i++) {
          container.append(cardTemplate.content.cloneNode(true));
        }
      </script>

      <!-- <div class="w3-center w3-threequarter">
        <div class="w3-bar">
          <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
          <a href="#" class="w3-bar-item nav-color w3-button">1</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
          <button class="w3-button w3-circle w3-black">+</button>
        </div>
      </div> -->
    </div>
    
    <!--         
        <div class="w3-quarter">
          <img src="/w3images/steak.jpg" alt="Steak" style="width: 100%" />
          <h3>Project demo</h3>
          <p>
            Once again, some random text to lorem lorem lorem lorem ipsum text
            praesent tincidunt ipsum lipsum.
          </p>
        </div>
        <div class="w3-quarter">
          <img
            src="/w3images/cherries.jpg"
            alt="Cherries"
            style="width: 100%"
          />
          <h3>Project alpha</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          <p>What else?</p>
        </div>
        <div class="w3-quarter">
          <img
            src="/w3images/wine.jpg"
            alt="Pasta and Wine"
            style="width: 100%"
          />
          <h3>Pdf Scan</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
      </div>

      !-- Second Photo Grid--
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
          <img
            src="/w3images/popsicle.jpg"
            alt="Popsicle"
            style="width: 100%"
          />
          <h3>XX of YYYY Novel</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
          <img src="/w3images/salmon.jpg" alt="Salmon" style="width: 100%" />
          <h3>ZZZZ Textbook</h3>
          <p>
            Once again, some random text to lorem lorem lorem lorem ipsum text
            praesent tincidunt ipsum lipsum.
          </p>
        </div>
        <div class="w3-quarter">
          <img
            src="/w3images/sandwich.jpg"
            alt="Sandwich"
            style="width: 100%"
          />
          <h3>Generousity</h3>
          <p>
            Just some random text, lorem ipsum text praesent tincidunt ipsum
            lipsum.
          </p>
        </div>
        <div class="w3-quarter">
          <img
            src="/w3images/croissant.jpg"
            alt="Croissant"
            style="width: 100%"
          />
          <h3>Euphoria</h3>
          <p>
            Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
          </p>
        </div>
      </div> -->

    <!-- Pagination -->

    <hr id="about" />

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
      <h3>About Us, The SOCR Team</h3>
      <br />
      <img alt="" class="skeleton skeleton-card" width="600" height="200" />
      <div class="w3-padding-32">
        <h4><b>Waleed Ahmed - Abdullah Khan - Umair Khalid</b></h4>
        <h6><i>Supervisor: Dr. Mehreen Alam</i></h6>
        <p>
          It's not just an OCR, it's a whole new step towards the innovation of
          Urdu AI/ML
        </p>
      </div>
    </div>
    <hr />

    <!-- Footer -->
    <footer
      class="w3-row-padding w3-padding-32"
      style="background-color: #F4F5F8;"
    >
      <div class="w3-third">
        <h4>FYP 2022-2023</h4>
        <p class="skeleton skeleton-text"></p>
        <p class="skeleton skeleton-text"></p>
        <p class="skeleton skeleton-text"></p>
        <p class="skeleton skeleton-text"></p>
        <p class="skeleton skeleton-half"></p>
      </div>

      <div class="w3-third w3-leftbar w3-rightbar w3-border-white">
        <h4>Future Ideas</h4>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <span class="w3-large"></span> Amazing feature<br />
            <div class="skeleton skeleton-image-small"></div>
          </li>
          <li class="w3-padding-16">
            <span class="w3-large"></span> Awesome feature<br />
            <div class="skeleton skeleton-image-small"></div>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif ">
        <h4>Tools Used</h4>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Python</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Flask</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >PyTorch</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Numpy</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Pandas</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Ngrok</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >HTML</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">CSS</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >VS Code</span
          >
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
            >Colab</span
          >
        </p>
      </div>
    </footer>

    <!-- End page content -->
    <!-- </div> -->

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>
  </body>
</html>
